<div class="header" [ngClass]="{ 'header__menu-opened': isMenuOpen }">
  <div class="container">
    <div class="header__logo header__logo--web">
      <a href="/"
        ><img src="../../../assets/images/motanka-logo.svg" alt="Logo"
      /></a>
    </div>

    <nav class="header__nav">
      <div class="header__item header__item-menu" (click)="toggleMenu()">
        <img src="../../../assets/images/menu.svg" alt="" />
      </div>

      <ul class="header__list header__list--menu">
        <li class="header__item" (click)="closeMenu()">
          <a href="/shop">Shop</a>
        </li>

        <li class="header__item" (click)="closeMenu()">
          <a href="/blog">Blog</a>
        </li>

        <li class="header__item" (click)="closeMenu()">
          <a href="/about">Our Story</a>
        </li>
      </ul>

      <div class="header__logo header__logo--mobile">
        <a href="/"
          ><img src="../../../assets/images/motanka-logo.svg" alt="Logo"
        /></a>
      </div>

      <ul class="header__list header__list--icons">
        <li
          class="header__item header__item-search header__item-search--mobile"
        >
          <img src="../../../assets/images/search.svg" alt="" />
        </li>

        <li class="header__item">
          <img src="../../../assets/images/bag.svg" alt="" />
        </li>

        <li class="header__item">
          <img src="../../../assets/images/avatar.svg" alt="" />
        </li>
      </ul>

      <div class="header__item header__item-close" (click)="toggleMenu()">
        <img src="../../../assets/images/close.svg" alt="" />
      </div>
    </nav>
  </div>
</div>
