.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
  }

  &__nav {
    display: flex;
    gap: 24px;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {
    &-search {
      padding-left: 24px;
      border-left: 1px solid black;
    }
  }

  &__logo {
    &--mobile {
      display: none;
    }
  }
}

.header--mobile {
  background-color: rebeccapurple;
  .header__logo--mobile {
    display: block;
  }
}
