@import "../../../../styles.scss";

.shop {
  padding: 24px;

  @media screen and (max-width: 900px) {
    padding: 16px;
  }

  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: calc(100vh - 65px);

  &__title {
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;

    padding: 56px 0;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    gap: 24px;
    width: 75%;
    max-width: 1200px;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  @media screen and (max-width: 900px) {
    .filter {
      display: none;
    }
    .container {
      flex-direction: column;
    }

    &__list {
      width: 100%;
    }

    &__title {
      text-align: center;
      width: 100%;
      font-size: 28px;
      padding: 36px 0;
    }

    .filter--mobile {
      display: flex;
      gap: 16px;
      flex-direction: column;
    }
  }
}

.hidden {
  display: none;
}

.shop__item {
  padding-bottom: 4px;

  width: calc((100vw - (24px * 5) - 25vw) / 3);

  @media screen and (max-width: 900px) {
    width: calc((100vw - (16px * 2 + 24px)) / 2);
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 25%;

  &__title {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid $color-neutral-light-gray;
    padding-bottom: 10px;
  }

  &--mobile {
    display: none;
  }

  &__search {
    display: flex;
    text-align: center;
    justify-content: space-between;

    padding: 0 10px 10px;

    border-bottom: 1px solid $color-neutral-light-gray;
  }

  &__input {
    border: none;
    outline: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    padding-bottom: 16px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    font-size: 16px;
    width: calc((100vw - (64px)) / 5);
    min-width: 120px;
    padding: 10px 0;
    border: 1px solid $color-neutral-light-gray;
    border-radius: 10px;
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: $color-neutral-light-gray;
    }
  }
}

.dropdown {
  width: 100%;
  position: relative;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-size: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    background-color: $color-main-white;
    padding: 15px;

    border-radius: 4px;
    border: 1px solid $color-neutral-light-gray;

    cursor: pointer;
    transition: color 0.3 ease;

    &:hover {
      svg {
        path {
          fill: $color-neutral-dark-gray;
          transition: fill 0.3s ease;
        }
      }
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid $color-neutral-light-gray;
    z-index: 1;
  }

  &__item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    &:hover {
      background-color: $color-neutral-light-gray;
    }
  }
}

.button {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  border-radius: 4px;
  border: 1px solid $color-neutral-light-gray;

  background-color: $color-main-white;
  padding: 15px;

  cursor: pointer;

  &:hover {
    background-color: $color-neutral-light-gray;
  }
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: darkblue; 
}
