/* You can add global styles to this file, and also import other style files */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

// variables
$color-main-accent: #a18a68;
$color-main-white: #ffffff;
$color-main-black: #000000;

$color-neutral-dark-gray: #707070;
$color-neutral-gray: #d8d8d8;
$color-neutral-light-gray: #efefef;

$color-service-errors: #d82700;

// mixin
@mixin title {
  font-family: "DM Sans";
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
}

@mixin error {
  color: #d82700;

  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  font-size: 16px;
  background: $color-main-white;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  min-height: calc(100vh - 60px);
}

header {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Убираем маркеры */
  padding: 0; /* Убираем внутренние отступы */
}

li {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  color: inherit; /* Использует цвет текста родительского элемента */
  text-decoration: none; /* Убирает подчеркивание ссылок */
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
