<div class="about">
  <h1 class="about__title">About Us</h1>
  <h3 class="about__sub-title">
    Welcome to MOTANKA, the place where tradition and the spirit of the past
    intertwine with modern style and comfort.
  </h3>

  <img
    
    class="about__photo-main"
    src="../../../../assets/images/about-us/flag-ua.jpeg"
    alt=""
  />
  <p class="about__text">
    &nbsp;&nbsp;&nbsp;&nbsp;Our story began in the toughest of times, when the
    world was shaken by war and people's hearts were filled with worry. It was
    in these moments that Maria, a brave and talented young woman, decided to
    create something special. She started making protective dolls, which went to
    the front lines alongside our defenders. These dolls carried not only hope
    and support, but also a piece of Ukrainian culture and traditions.
  </p>

  <div class="about__text-block">
    <img
      
      class="about__photo-autor"
      src="../../../../assets/images/about-us/maria-1.png"
      alt=""
    />

    <p class="about__text">
      As time went by, Maria's dolls became a symbol not only of protection and
      luck, but also of beauty and pride. People around began to turn to them
      not only as talismans, but also as interior objects filled with deep
      meaning and history. The dolls became an integral part of the Ukrainian
      home, symbolizing its connection to traditions and roots.
    </p>
  </div>

  <div class="about__text-block">
    <p class="about__text">
      Today, MOTANKA invites you to the world of Ukrainian beauty and warmth.
      Here you will find not only protective dolls, but also a variety of
      handmade items reflecting the richness of our culture. We take pride in
      the opportunity to preserve and transmit the legacy of our ancestors,
      making it accessible to modern generations.
    </p>

    <img
      
      class="about__photo-autor"
      src="../../../../assets/images/about-us/maria-2.png"
      alt=""
    />
  </div>

  <p class="about__text">
    Come visit us and immerse yourself in the atmosphere of genuine Ukrainian
    hospitality and beauty. MOTANKA is your reliable guide in the world of
    traditions and inspiration.
  </p>
</div>
<!-- 
<div class="contact">
  <div class="contact__info">
    <h1 class="contact__title">Contact Us</h1>
    <h2 class="contact__sub-title">
      Say Hello send us your thoughts about our products or share your ideas
      with our Team!
    </h2>
  </div>

  <form
    class="contact__form form"
    novalidate
  >
    <div class="form__name-group">
      <div class="form__particle">
        <input
          class="form__input"
          id="firstName"
          formControlName="firstName"
          placeholder="First Name"
        />
        <label

          class="form__label"
          for="firstName"
          >field is empty</label
        >
      </div>

      <div class="form__particle">
        <input
          class="form__input"
          id="lastName"
          formControlName="lastName"
          placeholder="Last Name"
        />
        <label
          class="form__label"
          for="lastName"
          >field is empty</label
        >
      </div>
    </div>

    <div class="form__particle">
      <input
        class="form__input"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      <label

        class="form__label"
        for="email"
        >incorrect email</label
      >
    </div>

    <div class="form__particle">
      <input
        class="form__input"
        id="message"
        formControlName="message"
        placeholder="Message"
      />
      <label
        class="form__label"
        for="message"
        >message is empty</label
      >
    </div>

    <button
      type="submit"
      class="form__button"
    >
      SEND
    </button>
  </form>
</div> -->
