@import "../../../../styles.scss";

.about {
  padding: 24px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

  &__title {
    @include title;
    text-align: center;
  }

  &__sub-title {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }

  &__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
  }

  &__text-block {
    display: flex;
    // border: 1px solid $color-neutral-light-gray;
    // border-radius: 15px;
    padding: 24px;

    gap: 10%;
  }

  &__photo {
    &-autor {
      width: 40%;
    }

    &-main {
      width: 70%;
    }
  }

  @media screen and (max-width: 640px) {
    gap: 40px;

    &__text-block {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding: 0;
    }

    &__photo {
      &-autor {
        width: 80%;
      }

      &-main {
        width: 100%;
      }
    }
  }
}
